button {
    background-color: #ffc107;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #e0a800;
    transform: scale(1.05); /* Efek membesar sedikit saat hover */
}
